@charset "utf-8";

body {
    background-color: #181725;
}

.container {
    width: min(100% - 40px, 1080px);
    margin-top: 150px;
    margin-inline: auto;
    display: grid;
    place-items: center;
}

main {
    height: 100vh;
}

h1 {
    color: #f6f6f6;
    font-size: 15rem;
    font-variant:tabular-nums;
}

.green {
    color:#1b8e43;
    transition: color 1s ease-in-out;
}

.displayAlarm {
    display: flex;
    flex: center;
    gap: 5px;
    line-height: 12px;

    i, p {
        color: #f6f6f6;
        font-size : 2rem;
        margin-bottom: 20px;
    }
    
    p {
        width: 80px;
    }
}

.error-message {
    margin-top: 20px;
    margin-left: 65px;
    width: 320px;
    font-size: 1.8rem;
    color: #fff;
}

form {
    display: flex;
    gap: 10px;
}

form input,
form button {
    font-size: 18px;
    padding: 5px;
    width: 100px;
    border-radius: 50px;
    background-color: #6a6a6a;
    color: #f6f6f6;
    text-align: center;
}

form button {
    background-color: #1b8e43;
    color: #f6f6f6;
    cursor: pointer;
    width: 160px;
}

form input {
    border: 1.5px solid #6a6a6a;
}

form input:focus {
    border: 1.5px solid #1b8e43;
}